.App {
  text-align: center;
}

.App-header {
  background-color: #263238
  ;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 5.5vw;
}