.App {
  text-align: center;
}

.App-header {
  background-color: #263238
  ;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.container {
  width: 90%;
  margin: 100px auto;
}

footer {
  background-color: #03210E;
  font-size: 15px;
  padding: 60px 0 60px 0;
  color: white;
}